<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet"
           href="/static/css/style.css">
    <title></title>
</head>
<body>
<form action="/message_form/" method="post" class="smart-green">
    <h1>Message Info
        <span>Please Enter Your Message.</span>
    </h1>
    <label>
        <span>Name :</span>
        <input id="name" type="text" name="name" class="error" placeholder="Please Enter Your Name"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>Email :</span>
        <input id="email" type="email" value="" name="email" placeholder="Please Enter Your Email"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>Address :</span>
        <input id="address" type="text" value="" name="address" placeholder="Please Enter Your Address"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>Message :</span>
        <textarea id="message" name="message"  placeholder="Please Enter Your Message"></textarea>
        <div class="error-msg"></div>
    </label>
    <div class="success-msg"></div>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Submit"/>
    </label>
   {% csrf_token %}
</form>

</body>
</html>