{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MxAcademy - Course Details{% endblock %}

{% block custom_bread %}
<section>
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="{% url 'index' %}">Home</a>></li>
            <li><a href="{% url 'course:list' %}">Courses</a>></li>
            <li>Details</li>
        </ul>
    </div>
</section>
{% endblock %}

{% block content %}

<section>
<div class="wp">
    <div class="groupPurchase_detail detail">
        <div class="toppro">
            <div class="left">
                <div class="picbox">
                    <div class="tb-booth tb-pic">
                        <img width="440" height="445" src="{{ course.image.url }}" class="jqzoom" />
                    </div>

                </div>
                <div class="des">
                    <h1 title="django 从入门到精通体验开始了">{{ course.name }}</h1>
                   <span class="key">{{ course.desc }}</span>
                    <div class="prize">
                        <span class="fl">Level：<i class="key">{{ course.get_degree_display }}</i></span>
                        <span class="fr">Students：{{ course.students }}</span>
					</div>
                    <ul class="parameter">
                       	<li><span class="pram word3">Hours：</span><span>{{ course.learn_times }}</span></li>
                        <li><span class="pram word3">Chapter Nums：</span><span>{{ course.lesson_nums }}</span></li>
                        <li><span class="pram word3">Category：</span><span title="">{{ course.category }}</span></li>
                    </ul>
                    <div class="btns">
                        <div class="btn colectgroupbtn"  id="jsLeftBtn">
                              {% if has_fav_course %}Unsubscribe{% else %}Subscribe{% endif %}
                        </div>
                            <div class="buy btn"><a style="color: white" href="{% url 'course:lesson' course.id %}">Access Contents!</a></div>
                    </div>
                </div>
                <div class="group-share-box">
                    <div class="bdsharebuttonbox"
                         data-text="django开始了"
                         data-desc="我在#慕课网#发现了"
                         data-comment=""
                         data-url="/group/groupdetail/15/">
                        <span class="fl">分享到：</span>
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                        <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                        <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                        <a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                        <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="head">
                    <h1>Organizations</h1>
                    <p></p>
                </div>
                <div class="pic">
                    <a href="{% url 'org:home' course.course_org.id %}">
                        <img width="150" height="80" src="{{ course.course_org.image.url }}"/>
                    </a>
                </div>
                <div class="btn  notlogin
                     "data-favid="14" id="jsRightBtn">
                     {% if has_fav_org %}Unsubscribe{% else %}Subscribe{% endif %}
                </div>
                <div class="clear">
                    <ul>
                        <li>
                            <span>Course Nums:   {{ course.course_org.course_set.all.count }}</span>
                        </li>
                        <li>
                            <span>Instructor Nums:  {{ course.course_org.teacher_set.all.count }}</span>
                        </li>
                        <li>Location: {{ course.course_org.address }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
<div class="wp">
    <div class="list groupPurchase_detail_pro">
        <div class="left layout">
            <div class="head">
                <ul class="tab_header">
                    <li class="active">Details</li>
                </ul>
            </div>
            <div class="tab_cont tab_cont1">
                {{ course.detail }}
            </div>
            <div class="tab_cont tab_cont2" >
                <div class="comment">
                    <div class="comenlist">

                    </div>
                </div>
            </div>
        </div>
        <div class="right layout">
            <div class="head">Other Courses: </div>
            <div class="group_recommend">

                    {% for course in related_courses %}
                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading" src="{{ course.image.url }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> {{ course.name }}</h2></a>
                                <span class="fl">学习时长：<i class="key">{{ course.learn_times }}</i></span>
                            </dd>
                        </dl>
                    {% endfor %}

            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}



{% block custom_js %}

<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'op:fav' %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == "User didn't login"){
                    window.location.href="{% url 'login' %}";
                }else{
                    alert(data.msg)
                }
            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}
$(document).ready(function() {
    $('#jsLeftBtn').on('click', function () {
        add_fav($(this), {{ course.id }}, 1);
    });
});

$(document).ready(function() {
	$('#jsRightBtn').on('click', function(){
		add_fav($(this), {{ course.course_org.id }}, 2);
	});
});

</script>
{% endblock %}

